/*body {font-family: "Source Sans Pro"}*/
body {font-family: "Open Sans"}
body {padding-top:50px;}
.left-column .profile-image-container img {border-radius: 100px; border:1px solid #ccc;}
.left-column {text-align: center;}
.left-column .profile-details .blog-title {font-style: italic; font-size: 16px; margin:20px 0 20px 0;}
.left-column .profile-details .blog-title a {color:#000;}
.left-column .profile-details .blog-title a:hover, 
.left-column .profile-details .blog-title  a:active, 
.left-column .profile-details .blog-title  a:visited {color:#000; text-decoration: none;}

.left-column .profile-details .blog-subtitle {font-weight: 100; margin:20px 0 20px 0; color: #999}


.left-column .blog-menu ul {padding-left:0;}
.left-column .blog-menu li {padding:5px; font-weight: 200; list-style-type: none;;}
.left-column .blog-menu .current_page_item {font-weight: 400;}

h1 {font-size: 24px; font-weight: bold;}
h1 a {color:#555;}
h2 {font-size: 14px; font-weight: lighter; margin:22px 0 20px 0;}
.post-content { font-size: 20px; font-weight: 200;}

/*Posdt Content Things*/
.post {margin-bottom:50px;}
.post-content p {line-height: 1.6em; padding:10px 0 10px 0;}
.post-content cite {font-style: italic; color:#888; }
.post-content cite::before {content: '-'}
.post-content audio {background-color: #000; width: 100%;}
.post-content .alignright {float:right; margin-left:20px;}
.post-content .alignleft {float:left; margin-right:20px;}
.post-content .aligncenter {margin:0 auto;}
.post-content ol {margin-bottom:20px;}

.post-content .wp-caption { background-color: #eee; border:1px solid #ddd; text-align: center; margin:20px;}
.post-content .wp-caption.aligncenter { margin:0 auto; margin-top:20px; margin-bottom:20px;}
.post-content .wp-caption p {font-size: 12px; margin:0; padding-bottom:0;}

.pagination {text-align: center; width:100%; border-top: 1px solid #ccc; padding-top:20px;}
.foot {margin-bottom:50px; font-size: 9px; color:#999; text-align: center; margin-top:50px;}




@media screen and (min-width: 768px) { 
    
    .left-column {margin-top:100px;}
    .content-column {margin-top:100px; padding-left:30px;}
}

@media screen and (max-width: 767px) { 
    body {padding-top:20px;}
    .left-column .blog-menu li {padding:0; display:inline-block; margin-left: 5px; margin-right: 10px;}
    .left-column .profile-details .blog-title {margin:5px 0 5px 0;}
    .left-column .profile-details .blog-subtitle {margin:5px 0 5px 0;}
    #wpadminbar {position: fixed !important}

}


.site-footer {
    text-align: center;
}

.comments {
    margin-top:50px;
    padding-top:20px;
    border-top:1px solid #ccc;
}