<header class="site-header">
<div class="left-column profile-menu col-xs-12 col-sm-4 col-md-3 col-lg-3 col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
  <div class="profile-details">
      <div class="profile-image-container">
          <a href="/"><img src="{{ site.gravatar }}?s=80" width="80" height="80"></a>
      </div>
      <div class="blog-title"><a href="/">{{ site.title }}</a></div>
      <div class="blog-subtitle">{{ site.description }}</div>
      <div class="blog-menu">
          <ul>
              <li class="node-link {% if page.url == '/index.html' %}current_page_item{% endif %}"><a href="/">Blog</a></li>
              {% assign sorted_pages = (site.pages | sort: 'menu_order') %}
              {% for node in sorted_pages %}
                {% if node.menu == 'default' %}
                  {% if node.title %}
                    <li class="node-link {% if page.url == node.url %}current_page_item{% endif %}" ><a href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a></li>
                  {% endif %}
                  {{ node.previous }}
                  {{ node.next}}
                {% endif %}
              {% endfor %}
              <li><a target="_blank" href="//twitter.com/{{ site.twitter_username }}">Twitter</a></li>
              <li><a target="_blank" href="//github.com/{{ site.github_username }}">Github</a></li>
          </ul>
      </div>
      <hr />
      <div class="blog-image hidden-xs">
        <div>Latest Commit</div>
        <p style="color: #999; font-size: 0.9em"><small>Thanks to <a href="https://lolcommits.github.io/">lolcommits</a></small></p>
        <img src="//cdn.nickwhyte.com/static/lolcommits/latest.jpg" style="width: 75%"/>
      </div>
  </div>
</div>
</header>
